$white: #fff;
$black: #000;
$pink: #ff4a78;
$error: #bd2d00;
$blue: #33a4ff;
$color-11: #111111;
$color-12: #121212;
$color-33: #333333;
$color-22: #222222;
$color-19: #191919;
$color-23: #232323;
$color-26: #262626;
$color-29: #292929;
$color-36: #363636;
$color-38: #383838;
$color-47: #474747;
$color-67: #676767;
$color-50: #505050;
$color-86: #868686;
$color-3b: #3b3b3b;
$color-4c: #4c4c4c;
$color-2d: #2d2d2d;
$color-8b: #8b8b8b;

$rgba-white-5: rgba(255, 255, 255, 0.5);
$rgba-white-3: rgba(255, 255, 255, 0.3);
$rgba-white-2-4: rgba(255, 255, 255, 0.24);
$rgba-white-1-5: rgba(255, 255, 255, 0.15);
$background-like-active: rgba(160, 255, 164, 0.2);
